# Simple Linear Regression

## Importing the libraries

In [3]:
import numpy as np   # To work with arrays
import matplotlib.pyplot as plt  # TO plot the data in graph and to visulize the data
import pandas as pd # To work with data

## Importing the dataset

In [4]:
dataset = pd.read_csv('Salary.csv') # Reading the CSV file and saving in variable dataset

x = dataset.iloc[:, 0] # All rows and first coloumn
y = dataset.iloc[:, 1] # All Row and Second coloumn

In [5]:
print(x)

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
30    11.2
31    11.5
32    12.3
33    12.9
34    13.5
Name: YearsExperience, dtype: float64

In [6]:
print (y)

0      39343
1      46205
2      37731
3      43525
4      39891
5      56642
6      60150
7      54445
8      64445
9      57189
10     63218
11     55794
12     56957
13     57081
14     61111
15     67938
16     66029
17     83088
18     81363
19     93940
20     91738
21     98273
22    101302
23    113812
24    109431
25    105582
26    116969
27    112635
28    122391
29    121872
30    127345
31    126756
32    128765
33    135675
34    139465
Name: Salary, dtype: int64

## Splitting the dataset into the Training set and Test set

## Training the Simple Linear Regression model on the Training set

## Predicting the Test set results

## Visualising the Training set results

## Visualising the Test set results

## Let's predict a salary of an employee with number of years of experience